* {
    font-family: 'Open Sans', sans-serif;
}

.section {
    max-width: 1320px;
    margin: 0 auto;
}

body {
    background: #1f1f1f;
}

h1,
h2 {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

.big-header {
    font-size: 68px;
    margin: 80px 0px 10px 0px;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.head-line {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vertical-line {
    margin-left: 45px;

    font-size: xx-large;
}

.dotnet-header-text {
    font-size: 18px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 20px;
    flex-flow: row;
    align-items: center;
}

.LogoNav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.live-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 9px;

}

nav a {
    font-size: 13px;
}

.search {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.search span {
    width: 24px;
    height: 24px;
}

.down-arrow {
    height: 15px;
    width: 15px;
}

.nav-item {
    display: flex;
    gap: 5px;
    align-items: end;
}

.nav-item-sector:hover {
    flex: 0 1 auto;
}

.nav-item-sector:hover {
    background: red;
}

.nav-item span {
    display: flex;
    align-items: end;
}

.local-link,
.nav-item a {
    text-decoration: none;
}

.local-link:hover,
.nav-item a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.local-link:hover {
    text-underline-offset: 5px;
}

.nav-item a:hover {
    text-underline-offset: 7px;
}

.btd-section {
    top: 0px;
    width: 660px;
    z-index: 5;
}

.up-view{
    position: relative;
}
.cool-img{
    position: absolute;
    top: -600px;
    left: 200px;
    z-index: -1;
}

.about-text {
    margin: 10px 0;
}

p {
    color: white;
}

.up-buttons {
    display: flex;
    gap: 15px;
}

.fill-button {
    background: #ac99eaff;

}

.inverce-button {
    background: transparent;
    border: 3px solid #ac99eaff;
    border-radius: 10px;
    color: #ac99eaff;

}

.fill-button,
.inverce-button {
    border: 3px solid #ac99eaff;
    border-radius: 10px;
    padding: 12px;
    width: 150px;
    font-size: 16px;
}

.support-platforms {
    font-size: 12px;
}

.button-platform-section {
    display: flex;
}

.buttons-and-platforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: self-start;
    margin-top: 20px;
}

.centred {
    text-align: center;
}

.way {
    /* border: 3px solid #ac99eaff; */

    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    
}

.big-way-web {
    border-color: rgb(151 128 229/var(--tw-border-opacity));
}

.big-way-mobile {
    border-color: rgb(230 102 204/var(--tw-border-opacity));
}

.big-way-cloud {
    border-color: rgb(126 218 227/var(--tw-border-opacity));
}

.big-way-micro {
    border-color: rgb(151 128 229/var(--tw-border-opacity));
}

.way-container {
    display: table-cell;
    text-align: center;
    align-items: stretch;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    --tw-border-opacity: 1;
    padding: 10px;
    width: 270px;
    /* height: 180px; */
    --tw-bg-opacity: 1;
    background-color: rgb(41 41 41/var(--tw-bg-opacity));
}

.way-name {
    color: #ac99eaff;
    font-size: larger;
}

.ways-big {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.way img {
    height: 25px;
    fill: red;
}

.way p {
    text-align: start;
    margin: 0;
}

.ways-short {
    fill: #ac99eaff;
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

.short-way {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    --arrow-gap: 0px;
    --arrow-right: 10px;
}

.short-way:hover{
    --arrow-gap: 10px;
    --arrow-right: 0px;
}

.short-way svg{
    transition: margin 500ms;
    margin-left: var(--arrow-gap);
    margin-right: var(--arrow-right);
}

.ways-short a {
    color: #ac99eaff;
    cursor: pointer;
}

.ways-short a:hover {
    text-decoration: underline;
}

.bigger-h2 {
    font-size: 40px;
    margin-top: 50px;
}

svg {
    --colors-primary-purple: #9780e5;
    --colors-primary-magenta: #e666cc;
    --colors-primary-flamingo: #fa97a1;
    --colors-primary-blue: #53ceda;
    --colors-grey: #adadad;
    --colors-white: #242424;
    --colors-light-gray: #1f1f1f;
    --colors-dark-gray: #fff;
    --colors-white-gray: #1f1f1f;
    --colors-white-additional-gray: #333;
    --colors-dark-additional-gray: #474747;
    --colors-white-inverse: #fff;
}